* {
  font-family: "Lato", sans-serif;
}

.header-nav-wrap {
  height: 75px;
  border-bottom: black 1px solid;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.header-nav-right {
  width: 50%;
  position: absolute;
  bottom: 30px;
  right: 0;
}

.header-nav-right,
a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-align: right;
}

.header-nav-left {
  width: 50%;
  position: absolute;
  bottom: 30px;
}

#nav-left-1 {
  text-decoration: line-through;
}

#nav-right-1:hover,
#nav-right-1:focus {
  text-decoration: line-through;
}

#nav-right-2:hover,
#nav-right-2:focus {
  text-decoration: line-through;
}

#nav-right-3:hover,
#nav-right-3:focus {
  text-decoration: line-through;
}

#nav-left-2:hover,
#nav-left-2:focus {
  text-decoration: line-through;
}

.main-wrap {
  height: 850px;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 1px black solid; */
}

.main-img-wrap {
  width: 50%;
  height: 850px;
  /* border: 1px solid black; */
  overflow: hidden;
  padding-left: 25%;
}

#main-img {
  width: 100%;
  padding-top: 100px;
  display: block;
  position: relative;
  z-index: 0;
}

.bottom-link {
  width: 100px;
  bottom: 20px;
  font-style: bold;
  position: fixed;
}

/* CONTACT SHEET ONLY */

.contact-main {
  margin-bottom: 100px;
  margin-top: 100px;
  margin-right: 350px;
  height: 700px;
  padding-left: 20px;
}

.input,
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid rgb(177, 177, 177); /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.button {
  background-color: rgba(219, 72, 30, 0.99);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.button:hover {
  background-color: #a84c00dc;
  background-color: #ff5e00e5;
}

/* Add a background color and some padding around the form */
.container {
  position: absolute;
  left: 25%;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

/* index2 .index2-wrap */
.index2-wrap {
  height: 900px;
  margin-right: 20px;
  margin-left: 20px;
}
/* index2 grid */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196f3;
  padding: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.gridimg {
  width: 100%;
}
/* FOOTER */

.footwrap {
  width: 100%;
  height: 300px;
  background-color: rgba(219, 72, 30, 0.99);
  clear: both;
  padding-top: 200px;
}
.iconwrap{
  text-align: center;
  margin-right: 500px;
  margin-left: 500px;
  
  
}
.icons {
  font-size: 75px;
  padding: 10px;
  
}
.icons:hover{
  color: white;
}