body {
  font-family: "Lato", sans-serif;
}

/* MAIN NAV BAR STYLING */
nav {
  height: 77px;

  border-bottom: solid 1.5px black;
}

span {
  font-size: 25px;
  cursor: pointer;
  float: right;
  padding-top: 20px;
  padding-right: 15px;
}
span:hover {
  text-decoration: line-through;
}

#nav2 {
  font-size: 25px;
  cursor: pointer;
  float: left;
  padding-top: 20px;
  padding-left: 15px;
  text-decoration: line-through;
  color: black;
}

#nav3 {
  font-size: 25px;
  cursor: pointer;
  float: left;
  padding-top: 20px;
  padding-left: 15px;
  text-decoration: none;
  color: grey;
}

.sidenav #nav3:hover,
.sidenav #nav2:focus {
  text-decoration: line-through;
}

/* OVERLAY STYLING */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgb(221, 63, 0);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;

  padding-left: 10px;
  overflow: initial;
}

.content-wrapper {
  width: 100%;
  height: 220px;
}
#content-wrapper-border {
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  width: 98%;
  height: 220px;
}
.overlay a {
  padding: 0px;
  padding-left: 10px;

  text-decoration: none;
  font-size: 100px;
  color: black;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
  text-decoration: line-through;
}

.overlay #nav-logo-id:hover,
.overlay #nav-logo-id:focus {
  text-decoration: line-through;
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 28px;
  right: 20px;
  font-size: 25px;
}

#nav-logo-id {
  width: 100px;
  color: black;
  text-decoration: none;
  display: grid;
  position: absolute;
  padding-top: 77px;
  font-size: 25px;
  padding-left: 12px;
}

/* FOOTER */
.wrap {
  height: 300px;
  width: 100%;
  border: black 1px solid;
  background-color: rgb(221, 63, 0);
}

.foot-logo {
  padding-top: 20px;
  padding-left: 15px;
}
#foot-logo-id {
  width: 100px;
  color: black;
  text-decoration: none;
  display: grid;
  position: absolute;
  bottom: 10px;

  font-size: 25px;
}

#foot-logo-id:hover,
#foot-logo-id:focus {
  text-decoration: line-through;
}
