body {
  font-family: "Lato", sans-serif;
}
nav {
  height: 100px;
  border-bottom: solid 1px black;
}
span {
  font-size: 30px;
  cursor: pointer;
  float: right;
  padding-top: 30px;
  padding-right: 15px;
}

.logo {
  position: absolute;
  top: 0;
  left: 20px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgb(255, 72, 0);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 0px;
  padding-left: 20px;

  text-decoration: none;
  font-size: 200px;
  color: black;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
