* {
  font-family: "Lato", sans-serif;
}

.header-nav-wrap {
  width: 100%;
  height: 100px;
  border-bottom: black 2px solid;
  position: relative;
}

.header-nav-right {
  width: 50%;
  position: absolute;
  bottom: 40px;
  right: 0;
}

.header-nav-right,
a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-align: right;
}

.header-nav-left {
  width: 50%;
  position: absolute;
  bottom: 40px;
}

#nav-left-1{
  text-decoration: line-through;
}

#nav-right-1:hover,
#nav-right-1:focus {
  text-decoration: line-through;
}

#nav-right-2:hover,
#nav-right-2:focus {
  text-decoration: line-through;
}

#nav-right-3:hover,
#nav-right-3:focus {
  text-decoration: line-through;
}

#nav-left-2:hover,
#nav-left-2:focus {
  text-decoration: line-through;
}



.main-wrap {
  width: 100%;
  height: 850px;
  /* border: 1px black solid; */
  
}

.img-wrap {
  width: 50%;
  height: 850px;
  /* border: 1px solid black; */
  overflow: hidden;
  padding-left: 25%;
}

#main-img {
  width: 100%;
  padding-top: 100px;
  display: block;
  position: relative;
  z-index: 0;
  
}

#main-img:hover { 
  
  display: none;
  
}

#imgtext {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  font-size: 30px;
}



/* CONTACT SHEET ONLY */

.main-container {
  width: 100%;
  height: 800px;
}
#contact {
  font-size: 100px;
  width: 25%;
  
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  clear: both;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #fa5c00;
}

/* Add a background color and some padding around the form */
.container {
  
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
}