* {
  font-family: "Lato", sans-serif;
}
/* HEADER/NAV */
.header-nav-wrap {
  height: 75px;
  border-bottom: black 1px solid;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.header-nav-right {
  width: 50%;
  position: absolute;
  bottom: 30px;
  right: 0;
}

.header-nav-right,
a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-align: right;
}

.header-nav-left {
  width: 50%;
  position: absolute;
  bottom: 30px;
}

#nav-left-1 {
  text-decoration: line-through;
}

#nav-right-1:hover,
#nav-right-1:focus {
  text-decoration: line-through;
}

#nav-right-2:hover,
#nav-right-2:focus {
  text-decoration: line-through;
}

#nav-right-3:hover,
#nav-right-3:focus {
  text-decoration: line-through;
}

#nav-left-2:hover,
#nav-left-2:focus {
  text-decoration: line-through;
}

.bottom-link {
  width: 80px;
  bottom: 20px;
  position: fixed;
}

/* HOME PAGE */
.main-wrap {
  height: 770px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 150px;
  /* border: 1px black solid; */
}

.main-img-wrap {
  width: 50%;
  height: 770px;
  /* border: 1px solid black; */
  overflow: fill;

  margin-left: 25%;
}

#main-img {
  width: 100%;

  display: block;
  position: relative;
  z-index: 0;
}

/* CONTACT PAGE */

.contact-main {
  margin: 100px 20px 100px 20px;
  height: 700px;
}

.input,
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid rgb(177, 177, 177); /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.button {
  background-color: rgba(219, 72, 30, 0.99);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.button:hover {
  background-color: #ff5e00e5;
}

/* Add a background color and some padding around the form */
.container {
  position: absolute;
  left: 25%;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

/* ABOUT/INDEX2 */

.index2-wrap {
  height: 6850px;
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

/* index2 grid */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  /* background-color: #2196f3; */
  padding: 20px;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
}

.grid-img {
  height: 600px;
}

/* FOOTER */

.foot-wrap {
  width: 100%;
  height: 300px;
  background-color: rgba(219, 72, 30, 0.99);
  clear: both;
  padding-top: 200px;
}

.icon-wrap {
  text-align: center;
}

.icons {
  font-size: 75px;
  padding: 10px;
}

.icons:hover {
  color: white;
}

.footer-link-wrap {
  padding-top: 20px;
  border-top: 1px black solid;
  margin-right: 800px;
  margin-left: 800px;
}
.foot-link {
  padding-left: 10px;
  padding-right: 10px;
}
.foot-link:hover {
  text-decoration: line-through;
  color: white;
}
